@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

    
body {
    width: 100%;
    min-height: fit-content;
}

header {
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 23 ;
    top: 0;
}

.menu  {
    margin-top:5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background:#001D2D ;
    padding-right: 20px;
    height: 25px;
    font-size: 0.70rem;
}

.menu ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu ul li, .menu ul li a {
    color: white;
    display: flex;
    align-items: center;
    margin: 5px;
    text-decoration: none;
   

}

header a img {
    height: 70px;
}
.menu ul li:hover,.menu ul li a:hover  {
    cursor: pointer;
    color: #1CD1B0;
    text-decoration: underline;
}
.account-img { 
    color: white;
    height: 20px;
    width: 20px;
    margin: 5px;
}

.loja {
    height: 70px;
    display: flex;
    position: relative;
    align-items: center;
    background-color: #00669F;
    box-shadow: 0px 5px 0px 0px rgb(0, 0, 0, 0.5);
    
}

.discountBar {
    display: flex;
    align-items: center;
    background-color: aqua;
    height: 20px;
    padding-left: 10px;
}

h1 {
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: #00669F;
    height: 40px;
    color: white;
    font-weight: 100;

}

main {
    width: 70%;
    margin-top: 200px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    height: fit-content; 
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}


div.formulario {
    height: 50vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.registre-se a {
    font-size: 1rem;
    margin-left: 5px;
}

.formulario-label{
    font-size: 3rem;
    color: #333333;
    text-align: left;
    width: 100%;
}

div.formulario form{
    width: 100%;
}

div.formulario form select {
    margin-top: 10px;
}
div.formulario input{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.password {
    display: flex;
    align-items: center;

}
#togglePassword {
    margin-left: -30px; 
    cursor: pointer;
}

input[type=password] {
  
    
}

.formulario select {
    width: 100%;
    order: 2;
    height: 50px;
    
}


.submit {
    background: #1CD1B0;
    border-radius: 23.011px;
    border: #1CD1B0;
    font-size: 1.3rem;    
    width: 150px; 
    transition: 2s, transform 2s;  
}

.submit:hover {
    cursor: pointer;
    align-self: center;
    color: white;
    background-color: rgb(172, 17, 138, 0.7);
    border: 20px black;

}

.container-arlequina {
    margin-top: 95px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../img/bg 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
}
.container-botao {
    display: flex;
}
.container-botao input {
    text-align: center;
    justify-content: center;
    background: #1CD1B0;
    border-radius: 23.011px;
    border: #1CD1B0;
    font-size: 1.3rem;    
    width: 100px; 
    margin: 10px;
    transition: 1s, linear 1s, transform 1s;
}

.card-descricao div {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
.card-descricao {
    margin-top: 50px;
    font-size: 0.9rem;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 90vh;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    
}

.card-descricao img:nth-child(0) {
    position: relative;
    top: -10%;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.arlequina-vetor {
    height: 30px;
    width:30px;
    background-color: palevioletred;
}
.card-descricao div:nth-child(5) {  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    height: 40px;
    border-radius: 0px 0px 30px 30px;
    background-color: rgba(44, 1, 135, 1);
    width: 100%;
    transition: 1s, transform 1s;
}

.card-descricao div:nth-child(5) a {
    color: white;
    text-decoration: none;
}
.card-descricao div:nth-child(5):hover {
    border-radius: 30px 30px 30px 30px;
    background-color: #1CD1B0;
    cursor: pointer;


    
}
.card-descricao span:nth-child(4) a {
    color: white;
    text-decoration: none;
}

.card-descricao h2 {
    margin-top: -20px;
}

  
.card-descricao p {
    text-align: justify;
    width: 80%;
    margin-top: -30px;
    
}

.like-pixeled {
    height: 15px;
    width: 15px;
    position: absolute;
    

}
.descricao-texto-destaque {
    color: rgba(44, 1, 135, 1);
    
}
.botao-envio {
    display: flex;
}
.botao-envio:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: white;
    background-color: rgb(172, 17, 138, 0.7);
}
.card {
    height: 80vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color:#F3F3F3;
    border-radius: 13px;
    box-shadow: 3px 4px 0px 0px rgba(40, 40, 41, 0.3);
}

.card_Img {
    height: 250px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.sinal {
    height: fit-content;
    position: fixed;
    right: 0;
    top: 50%;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plusback {
    z-index: 0;
}

.plussign {
    position: fixed;
    z-index: 10;
    height: 20px;
    width: 20px;
}

.plusback {
    height: 50px;
    width: 50px;
    position: fixed;
    left: 1;


}
.plusback:hover{
    cursor: pointer;
    opacity: 1;   
    background-color: rgb(36, 93, 201);
    transition: 1s;
    box-shadow: 3px 4px 0px 0px rgb(255, 105, 188, 0.5)  ;
    border-radius: 50%;

}
img:nth-child(1) {
    z-index: 10;
}
.like {
    height: 20px;
    width: 20px;
    position: absolute; 
    align-self: flex-start;
    margin-top: 15px;
    margin-left: 15px;
    transition: 1s, transform 1s;
        
}

.like:hover {
    transform: scale(1.5);
}
a img.like {
    position: absolute; 
    left: 2px;
}
.card_Text {
    width: 80%;
    height: 80%;
    margin: 10px;
    
}

.card_Text p {
    font-size: 1em;
    text-align: justify;
}

h2 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.background_img {
    border-radius: 15px 15px 0px 0px;
    justify-self: flex-start;
    height: 75%;
    width: 100%;

}

.hero_Img {
    height: 100px;
    width: 100px;
    position: relative;
    border-radius: 50%;
    top: -50px;
    transition: 1s , transform 1s;
}

.hero_Img:hover {
    transform: scale(1.3);    
    cursor: pointer;
}

.card_Button {    
    height: 60px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00669F;
    border-radius: 2px;
    margin: 10px;
    opacity: 1;
    transition: 1s, transform 1s;
    position: relative;
 
}

.card_Button a {
    display: inline-block;
}
.card_Button:hover {
    bottom: 5px;
    transform: scale(1.3);
    opacity: 0.8;   
    background-color: rgb(72, 4, 78);
    transition: 1s;
    border-radius: 3%;
}

.card_Button::before {
    content: '';
    position: absolute;
    height: 5px;    
    bottom: -10px;  
    background-color:  rgb(72, 4, 78) ;
    width: 0;
    transition: 1s, transform 1s;
    
   
}

.card_Button:hover::before {
    width: 100%;
    transform: scaleX(1);    
    
}




.card_Button a {
    color: white;
    text-decoration: none;
}

input[type=text]:hover,
input[type=email]:hover,
input[type=password]:hover,
select:hover {
    transition: 0.5s ease-out ;
    border: 3px solid #1CD1B0;

}

textarea {
    width: 100%;
    height: 30vh;
    margin-top: 10px;
}

textarea:hover {
    border:#1CD1B0 solid 2px;
}
footer {
    bottom: 0;
    min-width: 100%;
    display: flex;  
    background-color: #00669F;
    height: 50px;
    align-items: center;
    justify-items: space-between;
    padding-right: 10px;
}

footer div {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 100%;
}
footer div p{
    display: flex;
    justify-content: flex-end;
    width: 70vw;
    color: white;
    height: 25px;    
}

footer div img {
    height: 25px;
}

@media  (min-width:460px) {
    
    
    .card_Text{
        font-size: 0.85rem;
    }
    .card {
      
        width: 80%;
        height: 85vh ;
    }
   
    .card-descricao {
        width: 80%;
    }
    
    footer { 
        height: 15vh;
        flex-direction: column;

    } .card_Img {
        height: 30vh;
    }
}
.menu {
        flex-direction: column;
        flex-direction: row;

    }
@media (min-width:780px) {
    .card-descricao {
        width: 40%;
    }
    .menu {
        flex-direction: row;

    }
    .card_Text{
        font-size: 0.85rem;
    }

    
    .card {
        width: 50%;
        height: 85vh ;
    }

    
}

@media (min-width: 1024px) {    

    .card_Text{
        font-size: 0.90rem;
    }
    .card {
        width: 40%;
        height: 100vh ;
    }
    .card_Img {
        height: 40vh;
    }

    footer { 
        flex-direction: row;   
        height: 50px;
        bottom: 0;
        justify-content: space-between;
    }

    @media (min-width: 1200px) {

        .card {
            width: 35%;
            height: 90vh;          
        }
    
    }
}

